@media screen {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	body {
		font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		background-color: #002b36;
		color: #839496;
	}

	.container {
		max-width: 786px;
	}

	.navbar-brand img {
		padding-right: 5px;
		width: 20px;
		margin-top: -2px;
	}

	.title {
		font-weight: 300;
		font-size:16px;
		top:0;
		color: #fff;
		position: relative;
	}

	.invisible {
		visibility: hidden !important;
	}

	.navbar-toggler, 
	.navbar-toggler:focus,
	.navbar-toggler:active,
	.navbar-toggler:hover{
		border-color: transparent;
		margin-top:5px;
	}

	.navbar-toggler:focus {
		box-shadow: none !important;
	}

	.fa-bars {
		color:#fff;
	}

	#datepicker {
		margin-bottom:5px;
	}

	.rTableCell.strikethrough-done-row {
		text-decoration: line-through;
	}

	a.nav-link, .nav-link:focus, .nav-link:hover {
		font-weight: 300;
		color: #fff;
	}

	a {
		text-decoration:none;
	}

	a:link {
		color:#fff;
	}

	a:visited {
		color:#fff;
	}

	a:hover {
		color:#fff;
	}

	a:active{
		color:#fff;
	}

	.fa-heart {
		color:#fff;
	}
	.kitn-issue-tracker hr.kitn-section-divider, hr:not([size]) {
    	height: 1px;
		margin : 20px 0;
		border-top: 2px solid #57a894;
	}

	.rTableHead {
		font-size: 14px;
		line-height: 1.42857143;
		background-color: #002b36; 
	}

	.form-control:focus {
		background-color:#a9bdbd;
	}

	.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
		background-image: none;
	}

	.btn-success, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
		color: #ffffff;
		background-color: #1f7972;
		border-color: #1d706a;
	}

	.btn-success:hover {
		color: #ffffff;
		background-color: #1f7972;
		border-color: #1d706a;
	}

	.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #073642;
		background-color: #a9bdbd;
		background-image: none;
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	
	.form-select {
		background-color: #a9bdbd;	
	}

	.issues {
		margin:0;
	}

	.fa.fa-trash {
		color: #D13A82;
	}
	
	.lastCell button {
		background-color: transparent;
		border: none;
	}

	span.input-group-text {
		padding-top: 8px;
	}

	/*
    https://html-cleaner.com/features/replace-html-table-tags-with-divs/
     */
	.rTable {
		display: table;
	}
	.rTableRow {
		display: table-row;
	}
	.rTableHeading {
		display: table-header-group;
	}
	.rTableBody {
		display: table-row-group;
	}
	.rTableFoot {
		display: table-footer-group;
	}
	.rTableCell,
	.rTableHead {
		display: table-cell;
	}
	.rTable {
		display: table;
		width: 100%;
	}
	.rTableRow {
		display: table-row;
	}
	.rTableHeading {
		display: table-header-group;
		background-color: #ddd;
	}
	.rTableCell,
	.rTableHead {
		display: table-cell;
		padding: 3px 10px;
		width:  25%;
		text-align: left;
	}
	.rTableHeading {
		display: table-header-group;
		background-color: #ddd;
		font-weight: bold;
	}
	.rTableFoot {
		display: table-footer-group;
		font-weight: bold;
		background-color: #ddd;
	}
	.rTableBody {
		display: table-row-group;
	}

	.lastCell {
		padding: 0;
		position: relative;
		left: 20px;
	}
}

@media (max-width: 786px) {
	.newIssue .col-sm-12 {
		flex: 0 0 auto !important;
		width: 100%  !important;
	}

	.newIssue.d-flex {
		flex-direction: column !important;
	}
	
	#projectSelect {
		margin-bottom:6px;
	}
}

@media (min-width: 786px) {
	.d-flex {
		flex-direction: row !important;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: end;
	}
}
@media (min-width:768px) {
	.create-project-inpt-grp {
		position: relative;
		top: -20px;
	}
}